
@{
    ViewBag.Title = "Index4";
}

<h2>Index4</h2>
@using (Html.BeginForm("Index5", "Home", FormMethod.Post, new { id = "form1" }))
{
    <p>@Html.TextBox("Textruta")</p>

    <input type="submit" class=" btn btn-default" value="Knapp1" name="Min första" />
}

